@import "src/styles";

.article figcaption {
  position: absolute;
}

.article {
  position: relative;
}

.article {
  overflow: hidden;
  width: 19em;
  height: 19em;

  img {
    width: 100%;
    min-height: 100%;
    transition: 0.2s;
  }

  figcaption {
    font-size: 14px;
    text-shadow: 0 1px 0 $almostblack;
    color: $white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 40px;
    background: $deeppinkpurple;
    opacity: 0;
    transform: scale(1.15);
    transition: 0.2s;

    h3 {
      color: $pinkred;
      font-size: 16px;
      margin-bottom: 0;
      font-weight: bold;
    }

    .link-div {
      margin-top: 7em;
      display: flex;
      justify-content: space-between;
    }

    .link-icon {
      color: $pinkred;
      font-size: 20px;
      transition: transform .2s;
    }

    .link-icon:hover {
      color: $white;
      transform: scale(1.1);
    }

    .link-icon-disable {
      color: $pinkgray;
      font-size: 20px;
      opacity: 0.6;
      pointer-events: none;
    }

    a, a:visited, a:hover, a:active {
      color: inherit;
    }

    .ribbon {
      width: 10em;
      height: 10em;
      position: absolute;
      top: -1em;
      right: -1em;
    }

    .ribbon a {
      position: absolute;
      display: block;
      width: 15em;
      padding: 0.8em 0;
      left: -2em;
      top: 3em;
      transform: rotate(45deg);
      background-color: $pinkred;
      box-shadow: 0 0.1em 0.4em $grayblack;
      text-decoration: none;
      color: $white;
      font-weight: bold;
      text-align: center;
    }
  }
}

.article:hover img,
.article:focus img,
.article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}

.article:hover figcaption,
.article:focus figcaption,
.article:active figcaption {
  opacity: 1;
  transform: none;
}
