<figure class="article">
  <ngx-picture src="{{src}}" alt="Media Card Picture" [lazyLoad]="true" (loaded)="onLoad(false)"></ngx-picture>
  <app-skeleton-loader *ngIf="imageLoading" [theme]="{height: '20em', width: '20em'}"></app-skeleton-loader>
  <figcaption>
    <h3>{{header}}</h3>
    <p>{{description}}</p>
    <div class="link-div">
      <div [ngClass]="{'link-icon': youtubeLink != '', 'link-icon-disable': youtubeLink == ''}">
        <a href="{{youtubeLink}}"><fa-icon [icon]="faYoutube"></fa-icon></a>
      </div>
      <div [ngClass]="{'link-icon': instagramLink != '', 'link-icon-disable': instagramLink == ''}">
        <a href="{{instagramLink}}"><fa-icon [icon]="faInstagram"></fa-icon></a>
      </div>
      <div [ngClass]="{'link-icon': deviantartLink != '', 'link-icon-disable': deviantartLink == ''}">
        <a href="{{deviantartLink}}"><fa-icon [icon]="faDeviantart"></fa-icon></a>
      </div>
    </div>
    <div *ngIf="saleLink" class="ribbon ribbon-top-right">
      <a href="{{saleLink}}">BUY NOW!</a>
    </div>
  </figcaption>
</figure>
