.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.media-container {
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.pagination {
  display: block;
  margin: auto;
}
