<header class="header">
  <div class="logo-container">
    <div class="logo-div" routerLink="home">
      <img class="logo">
      <a class="logo-text">Dilara Ünbay</a>
    </div>
  </div>
  <input class="menu-btn" type="checkbox" id="menu-btn"/>
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a class="link link-theme link-arrow">POSTS</a></li>
    <li><a class="link link-theme link-arrow" routerLink="projects">PROJECTS</a></li>
    <li><a class="link link-theme link-arrow" routerLink="gallery">GALLERY</a></li>
    <li><a class="link link-theme link-arrow">ABOUT ME</a></li>
    <li><a class="link link-theme link-arrow">CONTACT ME</a></li>
  </ul>
</header>
