<div class="container">
  <mat-toolbar class="fixed">
    <div class="logo-container">
      <div class="logo-div" routerLink="about">
        <ngx-picture class="logo"></ngx-picture>
        <a class="logo-text">Dilara Ünbay</a>
      </div>
    </div>
    <div fxShow="true" fxHide.lt-lg="true" class="menu-spacer">
      <a mat-button routerLink="posts">POSTS</a>
      <a mat-button routerLink="projects">PROJECTS</a>
      <a mat-button routerLink="gallery">GALLERY</a>
      <a mat-button routerLink="about">ABOUT ME</a>
      <a mat-button routerLink="contact">CONTACT ME</a>
    </div>

    <div fxShow="true" fxHide.gt-md="true" class="menu-spacer">
      <button mat-button (click)="sidenav.toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill [hidden]="!this.opened" fxHide.gt-md="true" class="fixed-container">
  <mat-sidenav #sidenav position="end" fxLayout="column">

    <div fxLayout="column" class="sidenav-content">

      <a mat-button routerLink="posts">POSTS</a>
      <a mat-button routerLink="projects">PROJECTS</a>
      <a mat-button routerLink="gallery">GALLERY</a>
      <a mat-button routerLink="about">ABOUT ME</a>
      <a mat-button routerLink="contact">CONTACT ME</a>

    </div>

  </mat-sidenav>
  </mat-sidenav-container>
</div>
