@import "src/styles";

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 100px;
  height: 100%;
}

.slider{
  width: 90%;
  justify-self: center;
  align-self: center;
  min-width: 340px;
}

h1{
  color: $white;
  text-align: center;
}
