@import "src/styles";

.post-card{
  max-width: 30em;
  height: 35em;
  min-width: 15em;
  margin: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  img {
    height: 60%;
    object-fit: contain;
  }
}

.mat-card-header{
  color: $pinkred !important;
}

.mat-card-subtitle{
  color: $pinkgray !important;
}

.mat-chip{
  background-color: $pinkred !important;
}
.mat-chip.mat-standard-chip::after {
  background: none !important;
}

.mat-flat-button{
  background-color: $pinkred !important;
  color: $white !important;
  display: block;
  margin: auto;
}

