@import "src/styles";

.post-card{
  width: 30em;
  height: 35em;
  margin: 1em;
  overflow: hidden;

  img {
    width: 100%;
    height: 60%;
  }
}

.mat-card-header{
  color: $pinkred !important;
}

.mat-card-subtitle{
  color: $pinkgray !important;
}

.mat-chip{
  background-color: $pinkred !important;
}
.mat-chip.mat-standard-chip::after {
  background: none !important;
}

.mat-flat-button{
  background-color: $pinkred !important;
  color: $white !important;
  display: block;
  margin: auto;
}

