<div class="wrapper">
  <mat-card class="contact-card mat-elevation-z4">
    <div class="message-section">

      <mat-card-header fxLayoutAlign="center">SEND ME A MESSAGE 🖤</mat-card-header>
      <form [formGroup]="messageForm" fxLayout="column">

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="fullName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>How may I help you?</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="10"
                    formControlName="message"></textarea>
        </mat-form-field>

        <div fxLayoutAlign="center">
          <button mat-raised-button color="accent" (click)="sendEmail()">
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            <span class="submit-button">SUBMIT</span>
          </button>
        </div>

      </form>
    </div>

    <mat-divider class="section-divider" [vertical]="true"></mat-divider>

    <div class="information-section" fxLayout="column" fxLayoutAlign="space-evenly center">

      <iframe class="map-location"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3014.3611908795847!2d29.304640750095057!3d40.929750532102354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadb3b4632742b%3A0x6d0076a1d22361cd!2sOrion%20Innovation%20T%C3%BCrkiye!5e0!3m2!1str!2str!4v1664439191760!5m2!1str!2str"
              width="400" height="300" frameBorder="0">
      </iframe>

      <div fxLayout="column">

        <mat-card-subtitle>CONTACT ME ELSEWHERE</mat-card-subtitle>

        <div class="line"></div>

        <div class="fab-links" fxLayout="row">
          <a mat-mini-fab color="accent" (click)="openLink(0)">
            <fa-icon class="icon" [icon]="faLinkedin"></fa-icon>
          </a>
          <a mat-mini-fab color="accent" (click)="openLink(1)">
            <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
          </a>
          <a mat-mini-fab color="accent" (click)="openLink(2)">
            <fa-icon class="icon" [icon]="faWhatsapp"></fa-icon>
          </a>
        </div>

      </div>

    </div>

  </mat-card>
</div>
