@use '@angular/material' as mat;

@include mat.core();

$personal-site-primary: mat.define-palette(mat.$light-blue-palette);
$personal-site-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

$personal-site-warn: mat.define-palette(mat.$red-palette);

$personal-site-theme: mat.define-light-theme((
  color: (
    primary: $personal-site-primary,
    accent: $personal-site-accent,
    warn: $personal-site-warn,
  ),
));

@include mat.all-component-themes($personal-site-theme);

@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  font-family: Montserrat, serif;
}

$squada: 'Squada One', serif;

$graycolor: #878E95FF;
$disabledcolor: #EBEEEF;
$maincolor: #489DC0FF;
$secondmaincolor: #19557EFF;
$skeletoncolor: #24364F;
$almostblack: #222222FF;
$black: #000000FF;
$white: #FFFFFFFF;
$grayblack: #333333FF;
$backgroundcolor: #171B2AFF;
$mainshadowcolor: rgba(8, 28, 53, 0.6);
$transparentblack: rgba(0, 0, 0, 0.8);
$transparentgraycolor: rgb(157, 159, 161, 0.5);
$transparentlightgraycolor: rgba(204, 204, 204, 0.4);

a.next.icons.next-icon.ng-star-inserted, a.prev.icons.prev-icon.ng-star-inserted {
  background-color: $secondmaincolor;
  color: $white;
  z-index: 0;
}

a.next.icons.next-icon.ng-star-inserted:hover, a.prev.icons.prev-icon.ng-star-inserted:hover {
  background-color: $maincolor;
  color: $white;
  z-index: 0;
}

a.prev.icons.prev-icon.disable.ng-star-inserted, a.next.icons.next-icon.disable.ng-star-inserted {
  background-color: rgba(255, 255, 255, 0.3);
  color: $white;
  z-index: 0;
}

img.image.ng-star-inserted {
  z-index: -1 !important;
}

span.skeleton-loader.progress-dark.ng-star-inserted {
  background-color: $skeletoncolor !important;
}

span.skeleton-loader.pulse.ng-star-inserted {
  background-color: $skeletoncolor !important;
}

a.mat-focus-indicator.mat-flat-button.mat-button-base.mat-button-disabled {
  background-color: $disabledcolor !important;
}

a.mat-focus-indicator.mat-flat-button.mat-button-base:hover,
button.mat-focus-indicator.mat-raised-button.mat-button-base:hover,
a.mat-focus-indicator.mat-mini-fab.mat-button-base:hover {
  transform: perspective(1px) scale(1.05);
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div {
  box-shadow: none !important;
}

body {
  margin: 0;
  font-family: Montserrat, serif;
  background-color: $backgroundcolor;
}
