/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  font-family: Montserrat, serif;
}

$squada: 'Squada One', serif;

$graycolor: #878E95FF;
$maincolor: #489DC0FF;
$secondmaincolor: #19557EFF;
$almostblack: #222222FF;
$black: #000000FF;
$white: #FFFFFFFF;
$grayblack: #333333FF;
$mainshadowcolor: rgba(8, 28, 53, 0.6);
$transparentblack: rgba(0,0,0,0.8);

body { margin: 0; font-family: Montserrat, serif; }
